.Search-page {
        display: flex;
        flex-direction: column;
        padding: 1rem;
}

.title-page {
    display: flex;
    align-items: center;
    margin: 2rem auto;
}

.logo {
    width: 90px;
    margin-right: 15px;
}

.logo img {
    width: 100%;
}

.title-page h2 {
    color: #ffffff;
    font-size: 1.6rem;
}

.title-page h2 i{
    color: #FC3F84;
}

.search {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.search input, .search button {
    height: 60px;
    border-radius: 50px;
    border: none;
    width: 100%;
}

.search input {
    margin-bottom: 10px;
    background: #FFFFFF;
    padding: 20px;
}

.search input::placeholder {
    color: #000;
}

.search button {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    background: #FED73A;
}

.tracks {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-track {
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.track-content {
    height: 500px;
    margin: 20px;
    
    
}

.capa {
    width: 300px;
}

.capa img {
    width: 100%;
}

.descricao {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 300px;
    height: calc(500px - 300px);   
}

.descricao h3, .descricao p {
    color: #FFFFFF;
    margin-bottom: 5px;
}

.descricao p {
    color: #fc3f84;
}

.infos a {
    cursor: pointer;
}

.infos a:visited {
    color: #FED73A;
}

.player {
    margin: 20px 0 0px 0;
    
}

audio::-webkit-media-controls-panel {
    background-color: #d7f7f791;
    border: none;
}

@media (min-width:1420px) {
    .music-track {
        width: 1200px;
    }
}

@media (min-width:600px) {
    .search {
        display: flex;
        justify-content: center;
        width: 90%;
    }

    .search input {
        max-width: 425px;
        border-radius: 50px 0px 0px 50px;
    }

    .search button {
        max-width: 220px;
        border-radius: 0px 50px 50px 0px;
    }

    .tracks {
        flex-direction:row;
        flex-wrap: wrap;
    }

    .music-track {
        margin: 1rem;
    }

    .track-content {
        margin: 0 50px;
    }
}

@media (min-width:450px) {
    .track-content {
        margin: 20px;
    }
} 