* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: #0D1B1E;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.Logo {
    max-width: 550px;
}

.Logo img{
    width: 100%;
}

h2 {
    color: #FFFFFF;
    text-align: center;
    margin: 3rem auto 2rem auto;
    max-width: 420px;
}

h2 i {
    color: #0A73E9;
}

button {
    background-color: #FED73A;
    width: 100%;
    max-width: 300px;
    height: 65px;
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.icon-play {
    font-size: 1.8rem;
    margin-left: 15px;
}

@media (min-width: 1024px) {
    h2 {
        
        font-size: 2rem;
    }
}